* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e1e1e1;
    padding: 5% 0;
}

h1 {
    text-align: center;
    margin-bottom: 2vh;
    font-size: 5vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.toolbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

#color-picker:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

#color-picker::-webkit-color-swatch-wrapper{
    padding: 0;
    background-color: #e1e1e1;
    cursor: pointer;
}

#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

#color-picker::-moz-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

#color-picker {
    appearance: none;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
    max-width: 70px;
    aspect-ratio: 1/1;
}

.toolbox button {
    width: 50px;
    height: 50px;
    max-width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.toolbox button:hover {
    background-color: #e1e1e1;
}

.toolbox button:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(0.95);
}

#paint-button {
    background-image: url(assets/paint.png);
}

#lighten-button {
    background-image: url(assets/ligthen.png);
}

#darken-button {
    background-image: url(assets/darken.png);
    background-size: 70%;
}

#rainbow-button {
    background-image: url(assets/rainbow.png);
}

#eraser-button {
    background-image: url(assets/eraser.png);
}

#clear-button {
    background-image: url(assets/clear.png);
}

#toggle-gridlines-button {
    background-image: url(assets/grid.png);
    background-size: 100%;
}

.active-tool {
    background-color: #d4d4d4 !important;
    transition: transform 0.05s ease-in-out;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .content {
        flex-direction: column-reverse;
        gap: 0px;
    }
    
    .toolbox {
        flex-direction: row;
        flex-wrap: wrap;
        transform: scale(0.8);
    }
    
    .grid-area {
        width: 100%;
        max-width: 100%;
    }
    
}

@media ((max-height: 790px) and (max-width: 600px)) {
    
    .grid-wrapper {
        width: 35vh !important;
    }
    
}

/* The grid & the canvas slider */
.grid-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    user-select: none;
    max-width: 500px;
    justify-content: center;
    align-items: center;
}

.grid-wrapper {
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 100%;
    width: 100%;
}

/* The entire grid */
.grid-content {
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25%;
    aspect-ratio: 1/1;
    cursor: crosshair;
}

/* Grid cell */
.grid {
    background-color: rgb(255, 255, 255);
    cursor: crosshair;
    aspect-ratio: 1/1;
}

/* The slider and the text value displayed */
.canvas-slider-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#canvas-slider {
    max-width: 200px;
    background-color: gray;
    cursor: pointer;
}

.canvas-slider-area p {
    font-weight: bold;
}