* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.toolbox {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

.toolbox button {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
}

/* The grid & the canvas slider */
.grid-area {
    display: flex;
    flex-direction: column;
    gap: 50px;
    user-select: none;
}

/* The entire grid */
.grid-content {
    background-color: rgb(114, 114, 114);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5%;
    gap: 0.25%;
    width: 500px;
    aspect-ratio: 1 / 1;
    cursor: crosshair;
}

/* Grid cell */
.grid {
    background-color: rgb(52, 168, 168);
    cursor: crosshair;
}

/* The slider and the text value displayed */
.canvas-slider-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#canvas-slider {
    width: 200px;
    height: 5px;
    background-color: gray;
    cursor: pointer;
}

.canvas-slider-area p {
    font-weight: bold;
}